<!-- templates/cart/home.html -->
{% load cart_tag %}  <!--new-->
<html>
    <body>
        <div class="container my-5">
            <div class="my-5">
                <h2>Your Cart {{ request.user| cart_total_quantity }}</h2></h2>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col" style='text-align: right;'>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cart in cart_list %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ cart.item.name }}</td>
                        <td>
                            <a class="mr-2" href="#"><span class="badge badge-light"><i class="fas fa-minus"></i></span></a>
                            {{ cart.quantity }}
                            <a class="ml-2" href="#" ><span class="badge badge-light"><i class="fas fa-plus"></i></span></a>              
                        </td>
                        <td style='text-align: right;'>$ {{ cart.get_total  }} </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th scope="row"></th>
                        <td colspan="2">Total</td>
                        <td style='text-align: right;'>${{ request.user | cart_total_sum | floatformat:2 }}</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td colspan="3" class="text-right ">
                            <button class="btn btn-success mr-4">Proceed To Checkout</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
